<h4>To Do List App</h4>

<div class="input-group">
  <input type="text" class="inputgroup" #itemItitle>
  <div class="input-group-addon hover-curser">
    <button (click)="onAdd(itemItitle)">Add to List</button>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class=list-group>
    <li class="list-group" *ngFor="let item of toDoListArray">
      <span class="hover-cursor" [class.text-success]="item.isChecked">
        <i class="fa fa-lg"></i>
      </span>
      <input type="checkbox" [checked]="item.isChecked" (click)="alterCheck(item.$key, item.isChecked)">
      {{item.title}}
      <button (click)="deleteTask(item.$key)">X</button>
    </li>
  </ul>